body{
    background-color: rgb(108, 214, 214);

}

.navbar{
    display: flex;
    background-color: aqua;
    display: flex;
    min-width: 20vh;
    justify-content: space-between;
}
.logo img{
    max-height: 100px;
    max-width: 500px;
}
