body{
    background-color: rgb(108, 214, 214);

}

.navbar{
    display: flex;
    background-color: #1f2937;
    display: flex;
    min-width: 20vh;
    justify-content: space-between;
}
.logo img{
    max-height: 100px;
    max-width: 500px;
    margin-left: 30px;
}
.link-list{
    display: flex;
    border: 2px black;
    align-items: center;
    margin-left: auto;
}

.link-list ul{
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: 30px;
    /*border: 1px solid black;*/
    
}
.link-list ul li{
    border:  1px solid black; /* border for links items"*/
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.header{
    display: flex;
    color: #f9faf8;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}
p{
    color: white;
    font-size: 20px;
}

h1{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0px;
    font-family: 'Roboto', Arial;
}

.image img{
    width: 500px;
    height: auto;
    margin-left: 60px;
}

.header button{
    display: block;
    text-align: center;
    width: 150px;
    height: auto;
    font-size: 20px;
    background: green;
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main h2{
    align-self: center;
}

.main img{
    width: 300px;
    height: auto;
    border: 2px solid greenyellow;
    border-radius: 10px;
    align-self: center;
    margin: 10px;
}